/*
--------------
Reset
--------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
--------------
Common
--------------
*/

body {
    font-family: 'Fredoka', sans-serif;
    color: rgb(255, 255, 255);
}

/*
--------------
Header
--------------
*/

.container {
   max-width: 1000px;
   margin: 0 auto;   
}

h1{
    text-align: center;
    color: rgb(210, 62, 126);
    padding: 24px 0;
}

.text {
    text-align: center;
    margin-bottom: 24px;
    color: black;
}

/*
--------------
Main
--------------
*/

.team {
    width: 100%;
}

.clearfix::after{
    content:'';
    display: block;
    clear: both;
}

.card {
    float: left;
    background-color: rgb(0, 0, 0);
    width: calc(100% / 3 - 16px);
    margin: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.20);
}

.photo-col {
    float: left;
    width: 110px;
}

.photo-col img{
    width: 100%;
    display: block;
}

.info-col {
    float: right;
    width: calc(100% - 110px);
    padding: 16px 0 0 16px;
}

a.mail {
    color: rgb(95, 153, 223);
    text-decoration: none;
}
