/*
--------------
Reset
--------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
--------------
Common
--------------
*/

body {
    font-family: 'Fredoka', sans-serif;
    color: rgb(255, 255, 255);
}

/*
--------------
Header
--------------
*/

.container {
   max-width: 1000px;
   margin: 0 auto;   
}

h1{
    text-align: center;
    color: rgb(210, 62, 126);
    padding: 24px 0;
}

.text {
    text-align: center;
    margin-bottom: 24px;
    color: black;
}

/*
--------------
Main
--------------
*/

.team {
    width: 100%;
    background-color: aqua;
}

.clearfix::after{
    content:'';
    display: block;
    clear: both;
}

.card {
    float: left;
    background-color: red;
    width: calc(100% / 3 - 16px);
    margin: 8px;
}

.photo-col {
    float: left;
    width: 110px;
}

.photo-col img{
    width: 100%;
    display: block;
}

.info-col {
    float:left;
    width: calc(100% - 110px);
}

.work, .mail {
    display: block;
    float: left;
}

h3,
span,
.mail {
    padding-left: 8px;
    clear: both;
}
