/*
--------------
Reset
--------------
*/

* {
    margin: 0;
    box-sizing: 0;
}

/*
--------------
Common
--------------
*/

body {
    font-family: 'Fredoka', sans-serif;
}

/*
--------------
Title
--------------
*/

h1{
    color: rgb(230, 56, 128);
}

/*
--------------
Header
--------------
*/

header {
    width: 100%;
    text-align: center;
    padding: 30px;
}

/*
--------------
Main
--------------
*/

main {
    max-width: 1000px;
    margin: 0 auto;
}

.container-text {
    text-align: center;
    margin-bottom: 40px;
}

.container-cards {
    background-color: rgb(152, 79, 79);
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.cards {
    float: left;
    margin: 0 20px 20px;
    width: calc(100% / 3 - 40px);
    background-color:chartreuse;
    font-size: 12px;
}

.photo {
    float: left;
    width: 46px;
    background-color: chocolate;
}

.photo  img{
    width: 100%;
    display: block;
}

.info{
    float: left;
    width: 100%;
    width: calc(100% - 80px);
    background-color: blanchedalmond;
    margin-left: 10px;
}

